<!DOCTYPE html>
<html id="iframe_content" class="notranslate" translate="no">
<head>
    <title> {title} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json?appver=760">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    {LIBRARIES}
    {HEAD}
    
    <script src="app/lib/include/admin.js?appver=760" type="text/javascript"></script>
    <link href="app/lib/include/admin.css?appver=760" rel="stylesheet" type="text/css" media="screen">
    
    <script>
        $(function() {
            Adianti.start();
            Adianti.configure(parent.Adianti.getConfigureOptions());
            
            Template.configure(parent.Template.getConfigureOptions());
            Template.startIframe();
        });
    </script>
</head>

<body style="background:transparent;overflow:auto" class="content px-3 py-2">
    <div style="width:100%;">
        <div id="adianti_div_content"></div>
    </div>
    <div id="adianti_online_content"></div>
    <div id="adianti_online_content2"></div>
    <div id="adianti_right_panel" class="right-panel"></div>
</body>
</html>