<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
  <title>{title}</title>
  <meta charset="utf-8" />
  <meta name="description"
    content="IRADAT PROFILING (I-PRO) aplikasi digital yang modern dan terpercaya! Kami membantu Anda memahami profil potensi diri dalam hal kecerdasan, sikap kerja dan kepribadian melalui analisis yang akurat dan mudah diakses" />
  <meta name="keywords" content="pengembangan diri, perencanaan karier" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="IPro - solutions for increase great self capacity" />
  <meta property="og:url" content="https://iradatkonsultan.com" />
  <meta property="og:site_name" content="IPro by Iradat Konsultan" />
  {LIBRARIES}
  {HEAD}
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="app-blank">
  <!-- Page Loader -->
  <div class="o_loading" style="display:none">
    <p>Loading ...</p>
  </div>
  <!-- #END# Page Loader -->

  <section class="content">    
    <div id="adianti_div_content" class="adianti_div_content"></div>     
    <div id="adianti_online_content"></div>
    <div id="adianti_online_content2"></div>
    <div id="adianti_right_panel" class="right-panel"></div>
    <div id="adianti_bottom_panel" class="bottom-panel"></div>
  </section>

  <script>
    var hostUrl = "app/templates/{template}/";
  </script>
  <script src="app/templates/{template}/js/scripts.bundle.js"></script>
</body>

</html>